@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateZ(-2px) translateY(5px);
  }

  40% {
    transform: rotateY(180deg) translateZ(-2px) translateY(-35px);
  }

  60% {
    transform: translateZ(-2px) translateY(-25px);
  }
}

.h3 {
  @apply text-lg md:text-4xl lg:text-5xl sm:text-4xl   top-[80px] sm:top-[30px];
  line-height: 80%;
  transform: rotateX(0) rotateY(-25deg);
  text-transform: uppercase;
  width: 500px;
  text-align: center;
  color: #b9dfff;
  color: #fff;
  font-family: 'Zefani';
  font-family: 'Abril Fatface';
  margin: 3rem auto;
  position: relative;
  padding: 2rem 0 9rem;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
    0 0 35px #228dff, 0 0 40px #228dff;
  span {
    display: inline-block;
  }
}

.scroll-more {
  color: white;
  text-align: center;
  width: 450px;
  position: absolute;
  bottom: 8rem;
  left: calc(50% - 225px);
  margin: 0 auto;
  font-size: 25rem;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: monospace;
  pointer-events: none;
  z-index: -1;
  transform-origin: center;
  -webkit-animation: bounce 3s cubic-bezier(0.37, 0, 0.21, 1.02) infinite,
    fonts 5s linear infinite;
  animation: bounce 3s cubic-bezier(0.37, 0, 0.21, 1.02) infinite,
    fonts 5s linear infinite;
}

.btn {
  background-color: #fff;
  color: #050801;
  box-shadow: 0px 0px 5px #fff, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4,
    0px 0px 100px #fff;
  border-radius: 40px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  display: inline-block;
  padding: 25px 30px;
  margin: 40px;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
}
