@font-face {
  font-family: "Balloon";
  src: url("../assets/JiSolidBalloonCaps-lddX.ttf");
  font-weight: 400;
  font-style: normal;
}

.puzzle {
  font-family: Balloon;
  color: #ff9800;
  transform-origin: bottom center;
}
